/*! Estilos del Nav */
.navDino {
    background-color: #2C0B0E;
    padding: 1.175em 0;
    font-size: 1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-bottom: 1px solid white;
}
.aText {
    text-decoration: none;
    margin-left: .75em;
    color: rgba(255, 255, 255, 1);
}
.aText:hover {
    color: rgba(255, 255, 255, .75);
}
.SelStyle {
    margin-left: .25em;
}
.form-select-lg {
    padding: .25rem .5rem;
    margin-left: 1em;
}
.navtitulo {
    font-size: 1.35em;
}
/*! Estilos del Footer */
.footDino {
    background-color: #2C0B0E;
    padding: .8em 0;
    font-size: 1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-top: 1px solid white;
}
.textfoot {
    margin: 0;
    padding: .5em 0;
    border-bottom: 2px solid #842029;
    border-top: 2px solid #842029;
}
.footicon {
    padding-left: 10px;
    color: rgba(255, 255, 255, 1);
}
.footicon:hover {
    color: rgba(255, 255, 255, .75);
}
/*! Tabla textos */
.fondoCrud {
    background-image: radial-gradient(circle, #c4d79b, #6fa68e, #427075, #303c46, #111111);
    background-repeat: no-repeat;
    background-size: cover; 
}
.especieText {
    font-size: .775em;
    vertical-align: middle;
    text-align: center;
    background: #212529!important;
    color: white!important;
}
.especieTextDes {
    font-size: .775em;
    vertical-align: middle;
    background: #212529!important;
    color: white!important;
}
.imgTablaEspecie {
    width: 100px;
    border: 2px solid white;
}
.thTitulos {
    background: #212529!important;
    text-align: center;
    color: white!important;
}